
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | About :: w3layouts</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="~/web2/js/move-top.js"></script>
    <script type="text/javascript" src="~/web2/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <!---->

</head>
<body>
   
    <div class="about-content">
        <div class="container">
            <h2>Turizm</h2>
            <div class="about-section">
                <div class="about-grid">
                    <h3>Etiyopyada Turizm</h3>
                    <p>
                        Dünyanın en eski medeniyetleri arasında yer alan Etiyopya, Afrika’da sömürgeleştirilmeyen tek ülke olma özelliği taşıyor.
                        Oldukça zengin kültürü, antik eserleri ve egzotik atmosferiyle görenleri kendisine hayran bırakıyor.
                        Bordo, yeşil ve gri pasaport sahibi Türk vatandaşları, Etiyopya’ya gitmek isterlerse vize işlemine tabi tutuluyorlar. Siyah pasaport sahipleri ise 90 gün boyunca vizesiz seyahat edebiliyorlar.
                        Yalnızca İstanbul’dan Addis Ababa şehrine direkt uçuş düzenleniyor. Türkiye’nin diğer şehirlerinden Etiyopya’ya düzenlenen diğer uçuşlar ise genellikle aktarmalı gerçekleştiriliyor.
                    </p>
                    
                </div>
                <div class="about-grid2">
                    <h3>Etiyopyada Görülmesi Gereken Yerler</h3>
                    <br />
                    <h4>Addis Ababa</h4>
                    <br />
                    <p>


                        Etiyopya’nın başkenti Addis Ababa, Amharikçe’de ‘Yeni Çiçek’ anlamına geliyor.

                        Afrika Birliği’nin de başkenti olan şehir kültürel ve mimari açıdan oldukça zengin.

                        Şehirde görülmesi gereken ilk nokta olarak Aziz George Katedrali ön plana çıkıyor. 1896 yılında inşa edilen katedral, mimari açıdan oldukça farklı bir tasarıma sahip.

                        Etiyopya’nın simge yapılarından olan Kızıl Terör Şehitleri Anıt Müzesi ise Darg Rejimi altında öldürülen terör kurbanlarının anısına yapılmış olan bir anıt müze. İçerisinde orijinal kafatasları, kemikler ve çeşitli işkence aletleri sergileniyor.

                        Şehrin doğal alanları da kendine has görünümüyle insanlara davetkar mesajlar yolluyor. Entoto Hill, açık havayla birlikte şehir manzarası isteyenler için oldukça ideal bir yer. Ayrıca, yerel halkla kaynaşabileceğiniz, oradaki atmosfere ayak uydurabileceğiniz doğal parkın içerisinde bir de Meryem Kilisesi konumlanıyor.
                    </p>
                    <br />
                    <h4>Aksum</h4>
                    <br />
                    <p>
                        Etiyopya’nın kuzeyinde yer alan Aksum, oldukça küçük bir şehir olmasına rağmen, binlerce yıllık geçmişiyle turistlerin yoğun ilgisine maruz kalıyor.

                        Milattan önce 200 yılında kurulan Aksum Krallığı’nın merkezi olan şehir, 1980’den beri UNESCO Dünya Mirası Listesi’nde yer alıyor.

                        Tarihi zenginliklerle dolu şehirde gidilecek ilk nokta Arkeoloji Müzesi. Aksum’un tarihiyle ilgili en derinlikli bilgiyi alabileceğiniz müzede, yüzlerce yıl önce yaşamış insanların yaptıkları taştan araç – gereçler ve eşyalar sergileniyor.
                        Günümüze kadar zarar görmeden ulaşmayı başaramamış olsa da Kraliçe Sheba Sarayı, mutlaka görülmesi gereken yerlerden bir diğeri. Tarihi 7. yüzyıla uzansa da günümüzde neredeyse tamamen yıkılmış olduğu için, turistlerin merak edip de görmeye gittikleri şey genelde sarayın çevresinde yer alan çeşmeler oluyor.

                        Son olarak, iki kilisenin birleştirilmesiyle meydana gelen Zionlu Aziz Mary Kilisesi bulunuyor. Kiliselerden ilki 1665 yılında, ikincisi ise 1960 yılında inşa edilmiş.

                        Aksum’a gelirseniz, bunların dışında Abba Penalewan Manastırı’na da gidebilirsiniz.
                    </p>
                    <br />
                    <h4>Harar</h4>
                    <br />
                    <p>
                        2006 yılında UNESCO Dünya Mirası Listesi’ne alınan şehir, Etiyopya’nın doğusunda konumlanıyor.

                        Sınırları içerisinde 110 cami bulunmasından dolayı ‘İslam’ın dördüncü kutsal şehri’ kabul ediliyor.

                        1800’lerin sonunda kısa bir süre de olsa Osmanlı hakimiyetine giren bölgede, görülmesi gereken yerlerin başında Harar Jegol Duvarı geliyor. Şehri çepeçevre saran bu duvarlar, koruma amacıyla 13. ve 16. yüzyıllar arasında yapılmış.
                        Etiyopya ve Harar tarihine yakından bakmak isteyenler içinse Harar Müzesi, kalıcı bir çözüm sunuyor. İçerisinde arkeolojik kalıntıların ve tarihi eserlerin yer aldığı müzede zaman zaman farklı sergiler de düzenleniyor.

                        Camileriyle ünlü şehirde bir camiyi ziyaret etmeden ayrılmak olmaz tabi. O camii de mutlaka Cuma Camii olmalı. Renkleriyle insanın başını döndüren Cuma Camii, farklı mimari tasarımıyla da görenlerin ilgisini çekiyor.

                        Ayrıca, Harar’ı ziyaret edenler, Amir Nur Türbesi ile Rimbaud Ev Müzesi’ne de gidebilirler.

                    </p>
                    <br />
                    <h4>Jinka</h4>
                    <br />
                    <p>
                        Etiyopya’nın en bilindik pazar kasabalarından olan Jinka, Etiyopya kültürünün bir yansımasını turistlere aktarıyor.

                        Ülkedeki farklı etnik gruplara ev sahipliği yapan Jinka’da 16 farklı kabile yaşıyor.

                        Teknolojiden bağımsız, doğal hayatın kucağında süregelen yaşamın neye benzediğini görmek isteyenler, Jinka’ya gidebilirler.
                        Şehirde gezilmesi gereken iki önemli nokta bulunuyor. Bunlardan ilki Güney Omo Araştırma Merkezi ve Müzesi. Kabileler ve yerel halk hakkında detaylı bilgiye erişebileceğiniz müzede, dünyanın hiçbir yerinde göremeyeceğiniz kabile yaşamına ilişkin fotoğraflar sergileniyor. Farklı kültürleri ve yaşayış şekillerini merak edenler için bulunmaz bir hazine.

                        Şehirde gezilebilecek diğer bir nokta ise Omo Milli Parkı. Teknolojiden tam anlamıyla soyutlanmış kabileleri gözlemleyebilmek için rüya gibi bir yer olan Omo Milli Parkı’na giderken yanınızda su, sabun ve yiyecek götürülmesi tavsiye ediliyor. Burada, kabile üyeleriyle yakın temas dahi kurabiliyorsunuz. Ancak, doğal yaşamı etkilememesi adına dışarıdan getirdiğiniz hiçbir şeyi kabile üyelerine vermemeniz gerekiyor.
                    </p>
                    <ul>
                        <li><a href="#">Addis Ababa</a></li>
                        <li><a href="#">Aksum</a></li>
                        <li><a href="#">Harar</a></li>
                        <li><a href="#">Jinka</a></li>

                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <!---->
    







